[alias]
  lg = log --oneline --decorate --all --graph
  ac = !git add -A && git commit
  co = checkout
  st = status -sb
  br = branch
  fu = fetch upstream
  wipe = reset HEAD --hard
  soft = reset HEAD^ --soft
[core]
  excludesfile = /Users/gary/.gitignore_global
  editor = vi
[push]
  default = simple
[color]
  ui = true
[user]
  email = ggrumbley@gmail.com
  name = Gary Grumbley
