[user]
	email = Gary_Grumbley@intuit.com
	name = Grumbley, Gary
  username = ggrumbley
[credential]
	helper = osxkeychain
[alias]
  lg = log --oneline --decorate --all --graph
  ac = !git add -A && git commit
  co = checkout
  st = status -sb
  br = branch
  fu = fetch upstream
  wipe = reset HEAD --hard
  soft = reset HEAD^ --soft
[core]
  excludesfile = /Users/gary/.gitignore_global
  editor = vi
[push]
  default = simple
[color]
  ui = true
[hub]
	host = github.intuit.com
	host = github.intuit.com
